<div class="login-home">
  <div class="jumbotron col-5">
    <form [formGroup]="form">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend3">@</span>
        </div>
        <input type="text" class="{{emailInput}}" id="exampleInputEmail1" formControlName="email"
          aria-describedby="emailHelp" placeholder="Email">
        <div class="invalid-feedback">
          Please put a valid email
        </div>
      </div><br />
      <div class="input-group">
        <input type="password" class="{{passwordInput}}" id="exampleInputPassword1" formControlName="password"
          placeholder="Password">
        <div class="invalid-feedback">
          Please put a valid password
        </div>
      </div><br/>
      <button type="submit" class="btn btn-primary btn-sm" (click)="login()">Login</button>
    </form>
  </div>
</div>